*.obj filter=lfs diff=lfs merge=lfs -text
assets/models/Maps/pembroke_castle/pembroke_castle.obj filter=lfs diff=lfs merge=lfs -text
assets/models/Maps/raby_castle/raby_castle.obj filter=lfs diff=lfs merge=lfs -text
